name: build

on:
  workflow_call:
    inputs:
      updateKustomize:
        description: "Update kustomize overlays"
        type: boolean
        required: false
      skipTests:
        description: "Skip extended testing (unit and other tests), only build artifacts"
        type: boolean
        required: false
        default: false
      kustomizeOverlays:
        description: "The indicated overlays (dev, test, qa, prod)"
        type: string
        required: false
      skipDockerBuild:
        description: "Skip the build process"
        type: boolean
        required: false
        default: false
      component:
        description: "Name of the repository"
        type: string
        required: false
      vulnerabilityCheck:
        description: "Conduct a vulnerability check using Wiz"
        type: boolean
        required: false
        default: false
      useSonarCloud:
        description: "Use SonarCloud for code quality checks"
        type: boolean
        required: false
        default: true
      shouldAuthorizePoetry:
        description: "Authorize poetry to access private repositories"
        type: boolean
        required: false
        default: true
      buildRustLibraries:
        description: "Build rust libraries into python"
        type: boolean
        required: false
        default: false
      disableDockerBuildCache:
        description: "Disable Docker build cache"
        type: boolean
        required: false
        default: false
      runner:
        description: "The type of runner to use for the init job"
        required: false
        type: string
        default: ubuntu-latest


env:
  POETRY_VERSION: 2.1.4

defaults:
  run:
    shell: bash -l -ET -eo pipefail {0}

jobs:
  init:
    runs-on: [ "self-hosted", "small-builder" ]
    outputs:
      overlays: ${{ steps.init.outputs.overlays }}
      update-kustomize: ${{ steps.init.outputs.update-kustomize }}
      skip-tests: ${{ steps.init.outputs.skip-tests }}
      image-tag: ${{ steps.init.outputs.image-tag }}
      ecr-url: ${{ steps.init.outputs.ecr-url }}
      kustomize-modules: ${{ steps.init.outputs.kustomize-modules }}
      kustomize-modules-string: ${{ steps.init.outputs.kustomize-modules-string }}
      ecr-images: ${{ steps.init.outputs.ecr-images }}
      ecr-registry-code: ${{ steps.init.outputs.ecr-registry-code }}
      ecr-region: ${{ steps.init.outputs.ecr-region }}
      metadata: ${{ steps.init.outputs.metadata }}
      use-sonarcloud: ${{ steps.init.outputs.use-sonarcloud }}
      custom-tags: ${{ steps.custom-tags.outputs.custom_tags }}
      should-authorize-poetry: ${{ steps.init.outputs.should-authorize-poetry }}

    steps:
      - id: init
        name: Init workflow
        uses: hawk-ai-aml/github-actions/workflow-init@master
        with:
          skip-tests: ${{ inputs.skipTests }}
          update-kustomize: ${{ inputs.updateKustomize }}
          overlays: ${{ inputs.kustomizeOverlays }}
          repository-name: hawk-ai-aml/${{ inputs.component }}
          repository-ref: ${{ env.GITHUB_REF_NAME }}
          repository-access-token: ${{ secrets.REPO_ACCESS_PAT }}
          use-sonarcloud: ${{ inputs.useSonarCloud }}
          should-authorize-poetry: ${{ inputs.shouldAuthorizePoetry }}

      - id: custom-tags
        name: Generate a list of Docker tags for all modules
        env:
          ECR_REPOSITORIES: ${{ steps.init.outputs.ecr-repositories }}
          IMAGE_TAG: ${{ steps.init.outputs.image-tag }}
        run: |
          CUSTOM_TAGS=""
          for repo in $ECR_REPOSITORIES; do
            NEW_TAG=${repo}-${IMAGE_TAG}
            CUSTOM_TAGS="$CUSTOM_TAGS $NEW_TAG"
          done
          echo "custom_tags=$CUSTOM_TAGS" >> $GITHUB_OUTPUT

      - name: Update Jira ticket labels
        if: ${{ github.workflow == 'pr' }}
        uses: hawk-ai-aml/github-actions/update-jira-ticket-label@master
        continue-on-error: true
        with:
          repository: ${{ inputs.component }}
          github-branch: ${{ github.head_ref }}
          pr-title: ${{ github.event.pull_request.title }}
          modules-string: ""
          multiple-modules: "false"
          jira-user: ${{ secrets.JIRA_ACCOUNT_NAME }}
          jira-token: ${{ secrets.JIRA_TOKEN }}


  build:
    needs: init
    runs-on: ${{ inputs.runner }}
    steps:
      - name: Checkout master
        uses: actions/checkout@v4
        with:
          ref: master
          # From SonarCloud Scan GitHub Action
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 1000

      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          ref: ${{ env.GITHUB_REF_NAME }}
          # From SonarCloud Scan GitHub Action
          # Disabling shallow clone is recommended for improving relevancy of reporting
          fetch-depth: 1000

      - name: Install pipx
        if: ${{ inputs.runner != 'ubuntu-latest' }}
        run: sudo apt update && sudo apt install -y pipx && /usr/bin/pipx ensurepath

      - name: Install Poetry
        run: pipx install "poetry==${{ env.POETRY_VERSION }}"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ fromJson(needs.init.outputs.metadata).python-version }}
          cache: poetry

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry
          key: ${{ runner.os }}-poetry-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-poetry-

      - name: Authorize to GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_CLOUD_STORAGE_SERVICE_ACCOUNT_KEY }}

      - name: Authorize Poetry
        if: ${{ needs.init.outputs.should-authorize-poetry == 'true' }}
        run: scripts/authorize_poetry.sh
        env:
          PY_UTILS_PAT: ${{ secrets.PY_UTILS_PAT }}

      - name: Install dependencies
        id: install-dependencies
        run: poetry install

      - name: Build Rust libraries
        if: ${{ inputs.buildRustLibraries == true }}
        run: source scripts/build_rust_libraries.sh
        env:
          PY_UTILS_PAT: ${{ secrets.PY_UTILS_PAT }}

      - name: Run tests
        if: needs.init.outputs.skip-tests != 'true' && success()
        env:
          SCHEMA_REGISTRY_URL: "http://internal-aed0c439480b011ea821006d55bdfaa3-2040159056.eu-central-1.elb.amazonaws.com:8081"
          KAFKA_SERVICE: "kafka-service:9092"
          KAFKA_CONSUMER_THREADS: 1
          KAFKA_AUTO_OFFSET_RESET: "latest"
          FILES_STORAGE: "files.dev.aml-ai.net"
          APP_CONFIG_YAML_PATH: "tests"
        run: |
          poetry run pytest --junitxml=report.xml
          poetry run junit2html report.xml report.html
          mkdir -p report-dir && mv report.html report-dir

      - name: Upload reports to S3
        if: needs.init.outputs.skip-tests != 'true' && success()
        uses: hawk-ai-aml/github-actions/upload-to-s3@master
        with:
          aws_access_key_id: ${{ secrets.AWS_DEV_ACCESS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_DEV_SECRET_ACCESS_KEY }}
          aws_bucket: github-actions-static-html-2
          source_dir: ./report-dir
          destination_dir: ${{ github.event.repository.name }}-${{ github.run_id }}

      - name: Run SonarCloud scan
        if: ${{ needs.init.outputs.skip-tests != 'true' && needs.init.outputs.use-sonarcloud == 'true'}}
        uses: hawk-ai-aml/github-actions/sonarqube@master
        with:
          args: >
            -Dsonar.python.version=${{ fromJson(needs.init.outputs.metadata).python-version }}
          sonarToken: ${{ secrets.SONAR_TOKEN }}
          sonarHostUrl: ${{ secrets.SONAR_HOST_URL }}

      - name: Clean up workspace
        run: |
          echo "Current disk usage:"
          df -h /
          echo "Current virtualenv size:"
          du -hcs $(poetry env info --path)
          poetry env remove --all
          echo "Current disk usage:"
          df -h /
          if [ -f "scripts/clean_disk.sh" ]; then
            bash scripts/clean_disk.sh
          fi

      - name: Get ECR info
        id: ecr-info
        env:
          CUSTOM_TAGS: ${{ needs.init.outputs.custom-tags }}
          MODULE: ${{ inputs.component }}
          KUSTOMIZE_OVERLAYS: ${{ inputs.kustomizeOverlays }}
        run: |
          echo "CUSTOM_TAGS=$CUSTOM_TAGS"
          if [[ "$MODULE" == *"_"* ]]; then
            MODULE="${MODULE//_/-}"
          fi

          if [[ $KUSTOMIZE_OVERLAYS == "prod" ]]; then
            MATCHED_TAG=$(echo "$CUSTOM_TAGS" | tr ' ' '\n' | grep "^$MODULE-[0-9]"  | head -n 1 || true)
          else
            MATCHED_TAG=$(echo "$CUSTOM_TAGS" | tr ' ' '\n' | grep -E "(^|[-])${MODULE}([-]|$)" | head -n 1 || true)
          fi
          if [[ -z "$MATCHED_TAG" ]]; then
            MATCHED_TAG="${CUSTOM_TAGS// /}"
          fi
          echo "matched_tag=$MATCHED_TAG" >> $GITHUB_OUTPUT

      - name: Build Docker Image
        if: ${{ github.workflow != 'pr' && inputs.skipDockerBuild == false }}
        uses: hawk-ai-aml/github-actions/build-docker-image-python@master
        with:
          multiple-modules: "false"
          module: ${{ inputs.component }}
          image-tag: ${{ needs.init.outputs.image-tag }}
          ecr-repository-prefix: ${{ inputs.ecr-prefix }}
          custom-image-tag: ${{ steps.ecr-info.outputs.matched_tag }}
          kustomize-overlays: ${{ inputs.kustomizeOverlays }}
          ecr-registry: ${{ steps.login-ecr.outputs.registry }}
          ecr-repository: ${{ fromJson(needs.init.outputs.metadata).ecr.repository }}
          hawk-platform-repository: "hawk-platform"
          aws-org-ecr-access-key-id: ${{ secrets.AWS_ORG_ECR_ACCESS_KEY_ID }}
          aws-org-ecr-secret-access-key: ${{ secrets.AWS_ORG_ECR_SECRET_ACCESS_KEY }}
          ecr-region: ${{ needs.init.outputs.ecr-region }}
          ecr-registry-code: ${{ needs.init.outputs.ecr-registry-code }}
          py-utils-pat: ${{ secrets.PY_UTILS_PAT }}
          disabled-cache: ${{ inputs.disableDockerBuildCache }}

      - name: Slack notification for failed build status
        uses: hawk-ai-aml/github-actions/send-slack-notification@master
        if: failure()
        with:
          notify-pr-author: true
          slack-message: ":x: Your build failed. Please check the reason for it."
          slack-access-token: ${{ secrets.SLACK_RELEASE_BOT_ACCESS_TOKEN }}
          github-users-access-token: ${{ secrets.USER_GITHUB_ACCESS }}

  vulnerability-check-run:
    if: ${{ inputs.vulnerabilityCheck == true }}
    needs: [ init, build ]
    runs-on: [ "self-hosted", "small-builder" ]

    steps:
      - name: Collect Docker images
        id: docker-images
        env:
          ECR_IMAGES: ${{ needs.init.outputs.ecr-images }}
          IMAGE_TAG: ${{ needs.init.outputs.image-tag }}
        run: |
          IMAGES=$(echo "$ECR_IMAGES" | jq -r '.[]')
          DOCKER_IMAGES=""
          for img in $IMAGES; do
            DOCKER_IMAGES+="${img}:${IMAGE_TAG} "
          done          
          DOCKER_IMAGES="${DOCKER_IMAGES%" "}"          
          echo "images=$DOCKER_IMAGES" >> $GITHUB_OUTPUT

      - name: Scan Docker image for vulnerabilities
        uses: hawk-ai-aml/github-actions/wiz-check@master
        with:
          ecr-region: ${{ needs.init.outputs.ecr-region }}
          ecr-registry-code: ${{ needs.init.outputs.ecr-registry-code }}
          images: ${{ steps.docker-images.outputs.images }}
          aws-access-key-id: ${{ secrets.AWS_ORG_ECR_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_ORG_ECR_SECRET_ACCESS_KEY }}
          wiz-client-id: ${{ secrets.WIZ_CLIENT_ID }}
          wiz-client-secret: ${{ secrets.WIZ_CLIENT_SECRET }}

  update-overlays:
    needs: [ init, build ]
    if: ${{ needs.init.outputs.update-kustomize == 'true' && github.workflow != 'pr' }}
    runs-on: [ "self-hosted", "small-builder" ]

    steps:
      - name: Update kustomize overlay
        uses: hawk-ai-aml/github-actions/kustomize-overlay@master
        with:
          slack-access-token: ${{ secrets.SLACK_RELEASE_BOT_ACCESS_TOKEN }}
          github-users-access-token: ${{ secrets.USER_GITHUB_ACCESS }}
          overlays: ${{ needs.init.outputs.overlays }}
          kustomize-overlays: ${{ inputs.kustomizeOverlays }}
          modules: ${{ needs.init.outputs.kustomize-modules-string }}
          component-name: ${{ inputs.component }}
          component-tag: ${{ needs.init.outputs.image-tag }}
          component-custom-tags: ${{ needs.init.outputs.custom-tags }}
          kustomize-repo: hawk-ai-aml/kustomize.git
          kustomize-access-token: ${{ secrets.REPO_ACCESS_PAT }}
          ecr-region: ${{ needs.init.outputs.ecr-region }}
          ecr-registry-code: ${{ needs.init.outputs.ecr-registry-code }}
          metadata: ${{ needs.init.outputs.metadata }}
